body{
	background-image: url(/my-news-website/images/wall.jpg);
	padding: 0;
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
header{	
	background-color: #035ca4;
	height: 250PX;
	color: white;
}
.website-header{
	padding: 20px;
	height: 50px;
	display: flex;
	flex-wrap: wrap;
}
.d-flex{
	width: 500px;
	margin-left: auto;
	margin-top: 10px;
}
.website-header h1{
	margin: auto 0;
	font-size: 20px;
}
.social-icons{
	text-align: right;
	flex-grow: 1;
}
.social-icons i{
	margin: 0 7px;
	cursor: pointer;
}
nav{

	height: 50px;
	margin-bottom: 20px;
}
nav ul{
	margin: 20px 0 0 0;
}
.navbar-nav li{
	list-style: none;
	display: inline-block;
	padding: 10px 20px;
}
.navbar-nav li a{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 800;
}
.navbar-nav li a:hover{
	color: rgb(148, 191, 191);
}
.breaking-news-section{
	padding: 0 30px 0 60px;
	display: flex;
}
#btext{
	width: 300px;
	font-size: 12px;
	text-transform: uppercase;
	color: rgb(148, 191, 191);
	font-weight: 100;
	font-style: italic;
	margin: auto 0;
}
.breaking-news{
	padding: 30px;
	color: #fff;
	text-decoration: none;	
	font-weight: 800;
}
.breaking-news:hover,.social-icons i:hover{
    color: rgb(148, 191, 191);
	cursor: pointer;
}
.bntime{
	display: inline-block;
	color: rgb(148, 191, 191);
	padding: 0 10px;
	font-size: 12px;
}
#popular-news{
	display: flex;
	flex-wrap: wrap;
	margin: 30px 5%;
	height: 5000px;
	background-color: #fff;
}
#popular-news h2{
	margin: 0;
	padding: 5px;
	color: #fff;
}
#featured h2{
	background-color: black;
}
#latest h2{
	background-color: darkred;
}
#featured{
	flex: 2;
}
#latest{
	flex: 1;
}
#popular-news img{
	width: 100%;
	filter: brightness(0.7);
	transition-duration: 500ms;
}
.carousel, .news-container{
	position: relative;
}
.carousel-text{
	position: absolute;
	word-wrap: normal;
	bottom: 5px;
	z-index: 2;
	color: #fff;
	font-size: 24px;
	font-weight: bolder;
	padding: 0 10px;
	transition-duration: 500ms;
}
.news-container .carousel-text{
	font-size: 15px;
}
.news{
	margin: 30px;
	border-width: 5px;
	border-color: white;
	border-style: solid;
	box-shadow: #262626;
	
}
.news img{
	border-radius: 20px;
}
.carousel-date{
	display: block;
	text-align: center;
	font-size: 14px;
	color: rgba(255,255,255,0.7);
	font-weight: 300;
}
section{
	cursor: pointer;
}
.news-container:hover > .carousel-text{
	bottom: 10px;
}
.news-container:hover > img{
	filter: brightness(0.4);
}
.more-news{
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	padding: 0 5%;
	justify-content: space-between;
	color: #fff;
}
.news-section{
	display: flex;
	flex-wrap: wrap;
	flex-basis: 70%;
	justify-content: space-between;
}
.social-links{
	display: flex;
	flex-wrap: wrap;
	padding: 5%;
	justify-content: space-between;
}
.social-links section{
	flex-basis: 30%;
}
.social-icons-footer i{
	font-size: 37px;
	padding: 5px;
}
.instagram img{
	padding: 5px;
}
.footer{
background-color: #262626;
color: #fff;
}
.footer-buttons{
	display: block;
	border: 1px solid #2196f3;
	color: #2196f3;
	font-size: 14px;
	font-weight: bolder;
	background-color: white;
	margin: 20px auto;
	padding: 10px 20px;
	cursor: pointer;
}
.footer-buttons:hover{
	color: #fff;
	border: 1px solid #fff;
	background-color: #2196f3;
}
.copyright{
	width: 100%;
	background-color: black;
	color: #fff;
	padding: 5px;
	text-align: center;
}
@media only screen and (max-width: 600px) {
	.breaking-news-section{	
		padding: 10px;
		flex-wrap: wrap;
	}
	#featured{
		flex: auto;
	}	
	.news-section, aside, .news-section article,.social-links section{
		flex-basis: 100%;		
	}
	aside{
		border-width: 0;
	}
	.social-links section{
		margin-top: 20px;
	}
	.website-header img{
		width: 35px;
		height: 35px;
		padding: 5px;
	}
	.website-header h1{
		font-size: 15px;
	}
	.social-icons{
		flex-basis: 100%;
	}
	.navbar-collapse{
		background-color: black;
		z-index: 16;
	}
	.navbar-toggler-icon{
		background-image: url(images/menu.jpg);
		z-index: 16;
	}
}
